entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  le:
    acme:
      email: ${LE_EMAIL}
      storage: ${ACME_FILE}
      tlsChallenge: true

api:
  dashboard: true
